<h3>{{titulo}}</h3>
<form>
    <p>
        <label>Nombre</label>
        <input type="text" class="form-control">
    </p>
    <p>
        <label>Descripción</label>
        <textarea  class="form-control"></textarea>
    </p>
    <p>
        <label>Año</label>
        <input type="text" class="form-control">
    </p>
    <input type="submit" value="Crear Nuevo" class="btn btn-success">    
</form>