<div class="col-lg-12">
    <h3>{{titulo}}</h3>
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Acciones</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Oso Panda</td>
                <td>2012</td>
                <td>
                    <button class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        Ver
                    </button>
                    <button class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

</div>
