<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12" >

  <nav class="navbar navbar-default">

    <ul>
      <div class="container-fluid">
        <div class="navbar-header">
          <a [routerLink]="['/home']" class="navbar-brand">{{ title }}!</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/home']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-home"></span>
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/animales']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-heart-empty"></span>
              Animales
            </a>
          </li>
          <li>
            <a [routerLink]="['/tienda']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              Tienda
            </a>
          </li>
          <li>
            <a [routerLink]="['/cuidadores']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-user"></span>
              Cuidadores
            </a>
          </li>
          <li>
            <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-phone-alt"></span>
              Contacto
            </a>
            </li>
        </ul>
      </div>
      
    </ul>
  </nav>
      
</div>
  

<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>
    


