.navigation.col-lg-12{
    margin-top: 10px;
}
.jumbotron{
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #ccc;
    
}

.navbar-nav .active{
    border-bottom: 3px solid rgb(49, 36, 165);
}
.navbar-default .navbar-nav>li>a:hover{
    transition: all 150ms;
    border-bottom: 3px solid rgba(49, 36, 165, 0.562);
}
.boton_trancisiones{
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 4px solid blue;
    transition: border 2s, border-radius 500ms, background 5s;
    

}
.boton_trancisiones:hover{
    text-decoration: none;
    color:white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}
.caja_animada{
    background: green;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    animation-name: deslizamiento;
    animation-duration: 10s;
}
@keyframes deslizamiento{
    from {
        margin-left: 0px;
     }
    to { 
        margin-left: 400px;
    }
}