<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{titulo}}</h1>
        <p>Disfruta de los animales más exóticos de nuestro zoológico </p>
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/animales']">
                Ver Animales
            </a>
            <a class="btn btn-success btn-lg" [routerLink]="['/cuidadores']">
                Cuidadores
            </a>
            <a class="btn btn-warning btn-lg" [routerLink]="['/contacto']">
                Escríbenos
            </a>

        </p>
    </div>
    
</div>
