<h1>{{titulo}}</h1>
<hr>
<div class="caja_animada">

</div>
<hr>
<a class="boton_trancisiones">Trancisiones</a>
<hr>
<h4>Utilizar jQuery</h4>
<button id="botonjq"> Mostrar Textos </button>
<p id="textojq" class="alert alert-warning">
    Esto es un texto mostrado a traves de angular utilizando jquery

</p>
<editor apiKey="test" [init]="{plugins: 'link'}"></editor>
